:root {
  /* Colors */
  --rust: rgba(139, 73, 49, 1);
  --light-rust: rgba(139, 73, 49, 0.8);
  --grey: rgba(194, 192, 180, 1);
  --terracotta: rgba(166, 110, 77, 1);
  --light-terracotta: rgba(166, 110, 77, 0.8);
  --sage: rgba(164, 185, 170, 1);
  --fern: rgba(100, 108, 85, 1);
  --light-fern: rgb(100, 108, 85, 0.8);
  --creme: rgba(224, 215, 200, 1);
  --white: rgba(255, 255, 255, 1);

  /* Hero */
  --hero-bg: var(--creme);
  --hero-bg-picture: url("https://kcweddingassets.blob.core.windows.net/assets/HeaderBackground.jpg");
  --hero-header-font: "Lora", serif;

  /* Navbar */
  --navbar-bg: var(--terracotta);
  --navbar-text: rgba(255, 255, 255, 1);
  --navbar-font: "Lora", serif;
  --navbar-logo: url("https://kcweddingassets.blob.core.windows.net/assets/logo-thick.png");
  --navlink-hover: var(--rust);
}

/* Element styles */

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  scroll-timeline: --page-scroll block;
  scroll-behavior: smooth;
}

a {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: underline;
}

h1 {
  font: var(--hero-header-font);
}

/* Color classes */

.rust-color {
  color: var(--rust);
}

.sage-color {
  color: var(--sage);
}

.fern-color {
  color: var(--fern);
}

.white-color {
  color: var(--white);
}

.terracotta-color {
  color: var(--terracotta);
}

.creme-bg {
  background-color: var(--creme);
  box-shadow: 0 0 0 4px var(#000);
  z-index: 0;
}

.white-bg {
  background-color: #fff;
  z-index: -1;
}

.rust-bg {
  background-color: var(--rust);
  z-index: 0;
}

.light-rust-bg {
  background-color: var(--light-rust);
  z-index: 0;
}

.sage-bg {
  background-color: var(--sage);
  z-index: 0;
}

.light-sage-bg {
  background-color: var(--light-sage);
  z-index: 0;
}

.fern-bg {
  background-color: var(--fern);
  z-index: 0;
}

.light-fern-bg {
  background-color: var(--light-fern);
  z-index: 0;
}

.terracotta-bg {
  background-color: var(--terracotta);
  z-index: 0;
}

.light-terracotta-bg {
  background-color: var(--light-terracotta);
  z-index: 0;
}

/* Text styles */

.lora-serif {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lora-sans-serif {
  font-family: "Lora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.kc-body-1 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.kc-body-2 {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
}

.kc-header-1 {
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
}

.kc-bold {
  font-weight: bold;
}

.kc-italic {
  font-style: italic;
}

/* Class styles */

.kc-ocean {
  width: 100vw;
  height: 300vh;
  background-color: #1c110a;
}

.kc-sticky-div {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.kc-header-text {
  font-size: 35px;
  line-height: 1.5;
  padding: 0 20px;
}

.kc-header-text-2 {
  font-size: 30px;
  font-style: italic;
  line-height: 1.5;
  padding: 0 20px;
}

.kc-scroll-down-arrow {
  margin-top: 20px;
  padding: 0 20px;
  animation: bounce ease infinite 1.5s;
}

.kc-arrow-icon {
  width: 100px;
  height: 100px;
}

.kc-content-wrap {
  z-index: 500;
}

.kc-zoom {
  width: 100%;
  flex-direction: column;
  border-color: var(--creme);
  justify-content: center;
  display: flex;
  position: relative;
  animation: scroll-hero auto linear;
  animation-timeline: --page-scroll;
  animation-range: 0vh 300vh;
}

.kc-zoom-header {
  display: flex;
  flex-direction: column;
}

.kc-svg-container {
  padding-bottom: 10px;
}

.kc-svg {
  width: 60vw;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  box-shadow: inset 0 0 0 4px var(--hero-bg), 0 0 0 70vh var(--hero-bg);
  border-color: var(--creme);
  border-style: none;
}

.kc-hero-still-image {
  width: 100%;
  height: 100vh;
  background-image: var(--hero-bg-picture);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}

.kc-navbar {
  width: 100%;
  background-color: var(--navbar-bg);
  align-items: center;
  font-family: var(--navbar-font);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
}

.kc-navbar-container {
  width: 100%;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.kc-logo-div {
  padding: 4px;
}

.kc-logo {
  width: 48px;
  height: 48px;
  cursor: default;
  margin-right: 1vw;
  background-image: var(--navbar-logo);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
}

.kc-nav-menu {
  min-height: 100%;
}

.kc-navlink,
.kc-nav-menu {
  background-color: var(--navbar-bg);
}

.kc-navlink {
  color: var(--navbar-text);
  text-transform: none;
  margin: 0;
  padding: 20px 18px 18px 18px;
  font-family: var(--navbar-font);
  text-decoration: none;
  font-size: 14px;
}

.kc-navlink:hover {
  background-color: var(--navlink-hover);
}

.kc-hamburger {
  display: none;
}

.kc-small-nav-menu {
  display: none;
  flex-direction: column;
  width: 100%;
}

.kc-mobile-navlink {
  transition: height 0.3s ease-in-out;
  width: 100%;
  padding: 13px;
  color: var(--navbar-text);
  text-align: center;
  text-transform: none;
  font-family: var(--navbar-font);
  text-decoration: none;
  font-size: 14px;
}

.kc-mobile-navlink:hover {
  background-color: var(--navlink-hover);
  border-top-width: 1px;
  border-top-color: #000;
  border-left-width: 1px;
  border-left-color: #000;
  border-right-width: 1px;
  border-right-color: #000;
}

.kc-rsvp-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.kc-rsvp-info {
  display: block;
  min-width: 300px;
  width: 20%;
  max-width: 30%;
  margin: 5% 5% 5% 5%;
  animation: appear-from-bottom 1s forwards;
  animation-timeline: --page-scroll;
  animation-range: 200vh 350vh;
}

.kc-rsvp-info h1 {
  font-size: 24px;
  color: var(--rust);
  font-weight: bold;
  line-height: 1.5;
}

.kc-rsvp-info i {
  margin-left: 10px;
}

.kc-hr {
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--rust);
  color: var(--rust);
}

.kc-hr-white {
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--white);
  color: var(--white);
}

.kc-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.kc-contact-left {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.kc-contact-right {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.kc-round-outline-btn {
  border: 1px solid var(--rust);
  border-radius: 10px;
  padding: 10px 20px;
}

.kc-round-outline-btn:hover {
  cursor: pointer;
  background-color: var(--rust);
  color: var(--creme);
}

.kc-rsvp-text {
  width: 30%;
  padding: 5% 10%;
  min-width: 400px;
  animation: appear-from-left 1s forwards;
  animation-timeline: --page-scroll;
  animation-range: 200vh 305vh;
}

.kc-rsvp-photo-carousel {
  width: 50%;
  min-width: 400px;
  max-width: 100%;
  min-height: 400px;
  animation: appear-from-right 1s forwards;
  animation-timeline: --page-scroll;
  animation-range: 200vh 305vh;
}

.kc-rsvp-carousel-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("https://kcweddingassets.blob.core.windows.net/assets/About.jpg");
  background-repeat: no-repeat;
}

.wrap {
  text-wrap: wrap;
}

.kc-schedule {
  padding-top: 5%;
  padding-bottom: 5%;
}

.kc-schedule-header {
  padding-left: 10%;
}

.kc-schedule-row {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.kc-schedule-info {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 450px;
  min-width: 200px;
  width: 100%;
  max-width: 300px;
  margin: 2% 1% 1% 0%;
  animation: fade-in 1s forwards;
  animation-timeline: --page-scroll;
  animation-range: 250vh 500vh;
}

.kc-schedule-info-header {
  display: flex;
  justify-content: space-between;
}

.kc-schedule-icon-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
}

.kc-location-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10%;
}

.kc-location-map {
  min-width: 100%;
  max-width: 100%;
  min-height: 220px;
  max-height: 100%;
  animation: appear-from-right 1s forwards;
  animation-timeline: --page-scroll;
  animation-range: 380vh 480vh;
}

.kc-location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  animation: fade-in 1s forwards;
  animation-timeline: --page-scroll;
  animation-range: 420vh 500vh;
}

.kc-location-info-text {
  max-width: 800px;
  text-wrap: wrap;
  margin-top: 5%;
}

.kc-location-picture {
  height: 300px;
  max-height: 300px;
  background-image: url("https://pearleweddings.ca/wp-content/uploads/sites/3/2021/12/ReceptionDecor-97.jpg");
  background-size: cover;
  background-position-y: 70%;
  background-position-x: center;
  background-blend-mode: lighten;
  animation: appear-from-left 1s forwards;
  animation-timeline: --page-scroll;
  animation-range: 400vh 500vh;
}

.kc-hotel {
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
}

.kc-hotel-container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 3% 3%;
  animation: appear-from-bottom 1s forwards;
  animation-timeline: --page-scroll;
  animation-range: 450vh 550vh;
}

.kc-hotel-header {
  margin-bottom: 20px;
}

.kc-hotel-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kc-hotel-img {
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  min-width: 200px;
}

.kc-hotel-image {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  min-width: 200px;
}

.kc-hotel-info {
  padding-left: 5%;
  max-width: 800px;
  min-width: 200px;
}

.kc-now {
  padding-top: 2%;
  padding-bottom: 5%;
}

.kc-us-container {
  width: 85vw;
  height: 400px;
  border-radius: 0 8px 8px 0;
}

.kc-now-container {
  margin-left: auto;
  width: 85vw;
  height: 400px;
  border-radius: 8px 0 0 8px;
}

.kc-photos-creme-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.kc-photos-light-terracotta-container {
  width: 95vw;
  display: flex;
  justify-content: center;
}

.kc-photos-terracotta-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.kc-photos-header {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.kc-photos-info {
  text-align: center;
}

.kc-photos-placeholders-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.kc-photos-placeholder {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.kc-qna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}

.kc-qna-container {
  border-radius: 8px 8px 0 0;
  padding: 0 5%;
  padding-bottom: 5%;
}

.kc-qna-header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.kc-qna-collapsible {
  cursor: pointer;
}

.kc-qna-collapsible:after {
  content: "\f0d7"; /* Unicode character for "plus" sign (+) */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  color: var(--rust);
  float: right;
}

.kc-qna-collapsible.active:after {
  content: "\f0d8"; /* Unicode character for "minus" sign (-) */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  color: var(--rust);
  float: right;
}

.kc-qna-content {
  max-height: 0;
  padding-top: 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.kc-footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
}

.kc-footer-logo-img {
  width: 80px;
  height: 80px;
}

.kc-footer-info {
  margin-left: 5%;
}

@media screen and (max-width: 1170px) {
  .kc-header-text {
    font-size: 25px;
    padding: 0 5px;
  }

  .kc-header-text-2 {
    font-size: 20px;
    padding: 0 5px;
  }

  .kc-navbar-container {
    width: 80%;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
  }

  .kc-navlink {
    display: none;
  }

  .kc-hamburger {
    display: block;
    width: 30px;
    height: 48px;
    cursor: pointer;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/59/Hamburger_icon_white.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 1350px) {
  .kc-rsvp-photo-carousel {
    width: 50%;
    min-width: 100%;
    max-width: 100%;
    min-height: 400px;
  }
}

@media screen and (max-width: 1140px) {
  .kc-schedule-row {
    flex-direction: column;
    align-items: center;
  }

  .kc-hotel-row {
    flex-direction: column;
    align-items: center;
  }

  .kc-hotel-info {
    padding-left: 0;
  }

  .kc-hotel-container {
    padding: 5% 8%;
  }

  .kc-hotel-image {
    margin-bottom: 20px;
  }

  .kc-qna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@keyframes bounce {
  0% {
    color: var(--rust);
    transform: translateY(0);
  }

  50% {
    color: var(--fern);
    transform: translateY(15px);
  }

  100% {
    color: var(--rust);
    transform: translateY(0);
  }
}

@keyframes scroll-hero {
  0% {
    opacity: 1;
    width: 60vw;
  }
  25% {
    width: 260vw;
  }
  50% {
    width: 460vw;
  }
  75% {
    width: 660vw;
    opacity: 0;
  }
  100% {
    width: 860vw;
    opacity: 0;
  }
}

@keyframes appear-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-from-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
